*{
  transition: all 300ms linear;
}

#under-dev {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $level1;
  background-color: rgba(get-color(warning), 0.5);
  text-align: center;
  padding: 1em;
  strong {
    font-family: $header-font-family;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.giveroom {
  padding-top: 100vh;
  text-align: center;
}

.footer-note {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.75em;
}

section .title {
  padding: 2em;
}

@keyframes rotate-front {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(-360deg);
  }
}

@keyframes spin-rigth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include breakpoint(medium down) {
  @include breakpoint(landscape) {

    * {
      display: none !important;
    }
    html,
    body {
      display: block !important;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      position: relative;
      background: get-color(alert) none;
    }
    body:before {
      position: absolute;
      content: 'Please rotate device for better UX';
      font-family: $header-font-family;
      font-size: 1.25rem;
      top: 45vh;
      left: 20%;
      border: 2px solid;
      padding: 0.5rem 1.25rem;
      border-radius: 1em;

    }
  }
}
