#hero {
  position: relative;
  height: 100vh;
  padding-top: 25vh;
  background: rgba($black, 0.5) url("../img/hustle.jpg") no-repeat center bottom;
  background-size: cover;

  .container {
    z-index: $level1;
    perspective: 800px;
  }

  .featured-services {
    height: $featured-height;
    margin: $featured-height auto;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate-front 5000ms linear infinite;
    transition: all 1500ms;
    @include breakpoint(landscape){
      display: none;
    }
    &:hover {
      animation: none;
    }
    &__item {
      position: absolute;
      height: 100%;
      width: 100%;
      font-size: $featured-height/2;
      padding-top: $featured-height/4;
      background-color: get-color(warning);
      border: 2px $white solid;
      border-radius: 2px;
      backface-visibility: hidden;
      &:nth-child(1) {
        transform: translateZ($featured-height/2);
      }
      &:nth-child(2) {
        transform: translateY($featured-height/2) rotateX(-90deg);
        background-color: $black;
      }
      &:nth-child(3) {
        transform: translateZ(-$featured-height/2) rotateX(180deg);
        background-color: get-color(alert);
      }
      &:nth-child(4) {
        transform: translateY(-$featured-height/2) rotateX(90deg);
        background-color: get-color(primary);
      }
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: calc(50vw - 55px / 2);
  transform: rotate(90deg);
  i {
    color: $white;
  }
}


@include breakpoint(medium) {
  #hero {
    background-image: none;
    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: $levelB;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      background: url("../img/hustle.jpg") no-repeat -35vw;
      background-size: cover;
    }

    &::after {
      background: url("../img/code.jpg") no-repeat 50vw;
      background-size: cover;
    }
  }
}